<hr class="featurette-divider"></hr>
<!-- FOOTER -->
<footer>
    <p class="pull-right"></p>
    <p>
    © 2013 Soul Company, Inc. · 
        <a href="#"> Privacy </a> · <a href="#"> Terms </a>
    </p>
</footer>